*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img, video{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
ul li, ol li{
    list-style-type: none;
}
div::before, div::after{
    visibility: hidden;
    clear: both;
    content: "";
    display: table;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    margin:0;
    overflow:hidden;
    background:#111418;
    position:relative;
}

/* Main Background */
.bg-animation{
    position:fixed;
    inset:0;
    z-index:-2;
    background:
    radial-gradient(circle at center,#2b2d24 0%,#1c1f24 45%,#111418 100%);
}

/* Floating Glows */
.bg-animation span{
    position:absolute;
    border-radius:50%;
    filter:blur(120px);
    animation:float 12s ease-in-out infinite alternate;
}

.bg-animation span:nth-child(1){
    width:350px;
    height:350px;
    background:#ffc10730;
    top:10%;
    left:20%;
}

.bg-animation span:nth-child(2){
    width:300px;
    height:300px;
    background:#ff980020;
    bottom:10%;
    right:15%;
    animation-duration:16s;
}

.bg-animation span:nth-child(3){
    width:250px;
    height:250px;
    background:#ffffff10;
    top:60%;
    left:60%;
    animation-duration:20s;
}

@keyframes float{
    from{
        transform:translate(0,0) scale(1);
    }
    to{
        transform:translate(-80px,60px) scale(3.25);
    }
}

body::after{
    content:"";
    position:fixed;
    inset:0;
    z-index:-1;

    background-image:
    linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px);

    background-size:60px 60px;

    animation:gridMove 15s linear infinite;
}

@keyframes gridMove{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(60px);
    }
} 

.main-ban{
    width: 100%;
    height: 100vh;
}
.main-ban h1{
    font-family: "Croissant One", serif;
  font-weight: 700;
  font-style: normal;
  color:#FFD700;
    text-shadow:
0 0 8px rgba(255,193,7,.8),
0 0 18px rgba(255,193,7,.6),
0 0 40px rgba(255,193,7,.3);
}
.pera h2{
    color: #E5E5E5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-ban a{
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border: 2px solid #fff;
      transition: .3s !important;
background:#1E1E1E;
color:#FFD700;
border:2px solid #FFD700;
}
.main-ban a:hover{
    background:#FFD700;
color:#111;
    transform:translateY(-6px) scale(1.05) !important;
    box-shadow:
    0 0 20px #00ff88,
    0 0 40px #00ff88 !important;
    color: #000 !important;
}
.vid-btn a{
    border: 2px solid #fff;
    width: 80px;
    height: 80px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: .3s;
      animation: glow .9s linear infinite alternate;
}
@keyframes glow{
    from{
        box-shadow: 0 0 5px 0 #fff;
    }
    to{
        box-shadow: 0 0 30px 0 #fff;
    }
}
.vid-btn a:hover{
    background-color: #ffffff36 !important;
    color: #fff;
}
.modal-content{
    background: #000;
    border: none;
}

.modal-body{
    overflow: hidden;
}

#popupVideo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.modal-backdrop.show{
    backdrop-filter: blur(15px) brightness(0.5);
    -webkit-backdrop-filter: blur(15px) brightness(0.5);
}
.particles{
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.particles span{
    position: absolute;
    bottom: -20px;
    width: 4px;
    height: 4px;
    background: #FFD700;
    border-radius: 50%;
    box-shadow: 0 0 10px #FFD700;
    opacity: .8;
    animation: particleUp linear infinite;
}

/* Position + Size + Speed */

.particles span:nth-child(1){
    left:5%;
    animation-duration:12s;
}

.particles span:nth-child(2){
    left:15%;
    width:6px;
    height:6px;
    animation-duration:18s;
}

.particles span:nth-child(3){
    left:25%;
    animation-duration:10s;
}

.particles span:nth-child(4){
    left:38%;
    width:5px;
    height:5px;
    animation-duration:15s;
}

.particles span:nth-child(5){
    left:50%;
    animation-duration:20s;
}

.particles span:nth-child(6){
    left:62%;
    width:7px;
    height:7px;
    animation-duration:13s;
}

.particles span:nth-child(7){
    left:72%;
    animation-duration:16s;
}

.particles span:nth-child(8){
    left:82%;
    width:5px;
    height:5px;
    animation-duration:14s;
}

.particles span:nth-child(9){
    left:90%;
    animation-duration:19s;
}

.particles span:nth-child(10){
    left:97%;
    animation-duration:11s;
}

@keyframes particleUp{
    0%{
        transform: translateY(0) scale(.5);
        opacity:0;
    }

    15%{
        opacity:.9;
    }

    100%{
        transform: translateY(-110vh) scale(1.4);
        opacity:0;
    }
}

#loader{
    position:fixed;
    inset:0;
    background:#090b10;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999999;
    overflow:hidden;
    transition:1s;
}

#loader::before{
    content:"";
    position:absolute;
    width:700px;
    height:700px;
    border-radius:50%;
    background:radial-gradient(circle,
    rgba(255,193,7,.18),
    transparent 70%);
    animation:pulse 4s ease-in-out infinite;
}

.loader-content{
    text-align:center;
    position:relative;
    z-index:2;
}

#loader-title{

    font-size:22px;

    letter-spacing:8px;

    color:#999;

    text-transform:uppercase;

    margin-bottom:20px;

    font-family:Orbitron;
}

#loader-text{

    font-size:62px;

    color:#FFD700;

    margin-bottom:35px;

    text-shadow:
    0 0 10px #FFD700,
    0 0 30px rgba(255,215,0,.3);

    font-family:"Croissant One",serif;
}

.loading-bar{

    width:320px;

    height:6px;

    background:#1f2228;

    border-radius:50px;

    overflow:hidden;

    margin:auto;
}

.loading-bar span{

    display:block;

    width:0;

    height:100%;

    background:linear-gradient(90deg,#FFD700,#fff5b0,#FFD700);

    animation:loading 5s linear forwards;
}

#loader-status{

    margin-top:25px;

    color:#cfcfcf;

    font-size:14px;

    letter-spacing:3px;

    font-family:Orbitron;
}

@keyframes loading{

0%{
width:0%;
}

100%{
width:100%;
}

}

@keyframes pulse{

0%{
transform:scale(.8);
opacity:.5;
}

50%{
transform:scale(1.2);
opacity:1;
}

100%{
transform:scale(.8);
opacity:.5;
}

}
body.loaded{
    animation:reveal .8s ease;
}

@keyframes reveal{

0%{
transform:scale(1.05);
filter:blur(8px);
opacity:0;
}

100%{
transform:scale(1);
filter:blur(0);
opacity:1;
}

}

.mouse-particles{
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
}

.spark{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: gold;
    box-shadow: 0 0 12px gold;
    animation: fadeOut .8s linear forwards;
}